<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.arc.tool">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
<!--    <uses-permission android:name="android.permission.FLASHLIGHT" />-->

    <!--
        <application
                android:allowBackup="true"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_launcher_round"
                android:supportsRtl="true"
                android:theme="@style/AppTheme">
            <activity android:name=".MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>

                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity>
        </application>
    -->


    <!--
    如果你要自己的名称，可以修改AndroidManifest.xml的这个节点，application android:icon=”@drawable/logo”，
    记住，不需要加文件扩展名。
                android:icon="@drawable/ss2"
                android:roundIcon="@mipmap/ic_launcher_round"

    -->
    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ActivityQRCode">
            <!--  声明程序入口，程序启动在 做跳转到 MainActivity-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--注册其他活动能-->

    </application>


</manifest>
